
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(99, 96, 96, 0.87);
  background-color: #fffaf0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary_color {
  color:#b17659;
}

.primary_background{
  background: #b17659;
}

a {
  font-weight: 500;
  color: #242424 !important;
  text-decoration: none ;
}
a:hover {
  color: #000000 !important;
}
.product-link{
  color:#b17659 !important; 
  text-decoration: underline !important;

}
.product-link:hover {
  transition: .3s;
}

.s-f-size{
  font-size:13px;
}


@media (min-width: 768px) {
  .w-md-100 {
    width: 100% !important;
  }
}


/* navbar */
.customNav{
  border-bottom:solid 2px #b17659
}
.navMenu{
  transition:.5s;
  color:#fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.navMenu_men {
  background: #b17659;
}
.navMenu_women {
  background: #c8ac9e;
}

.navMenu_men:hover .categoryOuterForMen{
  display: block !important;
}

.navMenu:hover{
  background:#eeeeee;
  transition:.3s;
  color:#000;
}

.categoryOuterDiv{
  /* background: #B17659; */
  background-color: #fff;
  /* background: linear-gradient(90deg,rgb(243, 200, 178) 0%, rgba(255, 255, 255, 1) 100%); */
  padding:10px;
  border:solid 1px #aaa;
  /* box-shadow: 1px 1px 3px 0px #777 !important; */
  border-radius: 5px;
  position: relative;
  z-index: 99;
  width: 100%;
  /* border: solid 1px #fff; */
  
}

.categoryOuterDivCaretTop{
    border-left: solid 25px transparent; 
    border-right: solid 25px transparent; 
    border-bottom: solid 25px #fff;
    filter: drop-shadow(1px -5px #0b090937);
    height: 0; 
    width: 0; 
    position:absolute;
    top:-20px;
    z-index: 1;
    transition:.3s;
}


.categoryOuterDivCaretTop_mini{
    border-left: solid 15px transparent; 
    border-right: solid 15px transparent; 
    border-bottom: solid 15px #fff;
    filter: drop-shadow(1px -5px #261f1f37);
    height: 0; 
    width: 0; 
    position:absolute;
    top:20px;
    z-index: 1;
    transition:.3s;
}


.categoryOuterList{
  display: inline-block;
  position:relative;
  margin-bottom:20px;
}

.categoryOuterList:hover > div:nth-child(2){
  display: block !important;
  z-index: 999;
}

.categoryOuterList_menu{
  padding: 0 20px;
  position:relative;
  /* border-right:1px solid #b17659; */
  border-right:1px solid #c5bfbb;
  margin:0 5px;
  transition:.3s;
  cursor: pointer;
  display: inline-block;
}
.categoryOuterList_menu:hover{
  transition:.3s;
  background-color: rgba(0, 0, 0, .05);
  color:#fff;
  /* border-radius: 10px 0 0 10px; */
}

.categoryListChildren{
  width: 100%;
  position:relative;
 
  margin-top:0px;
}
.categoryListChildren > div{
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0px #bbb;
    padding:10px;
    background-color: #fff;
    margin-top: 30px;
}

.categoryListChildrenList_menu{
  padding:5px 2px;
  border-bottom: .5px  solid #ddd;
}

.categoryListChildrenList:hover div:nth-child(2){
  display: block !important;
  transition:.3s;
  top:0px;
}

/* banner */
.shopNowButton{
  border:solid #b17659 2px;
  border-radius: 20px;
  padding:5px 10px;
  width: 200px;
  text-align: center;
  cursor: pointer;
}
